<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!--孔雀座(认证服务)-->
    <pav-host>api.zkjinshi.com/dev/pav</pav-host>
    <!--罗盘座(位置服务)-->
    <pyx-host>api.zkjinshi.com/dev/pyx</pyx-host>
    <!--天炉座(资源服务)-->
    <for-host>api.zkjinshi.com/dev/for</for-host>
    <!--cdn图片(资源服务)-->
    <cdn-host>cdn.zkjinshi.com</cdn-host>
    <!--pcm图片(资源服务)-->
    <pcd-host>pcd.zkjinshi.com</pcd-host>
</config>