<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkjinshi.svip"
    android:versionCode="76"
    android:versionName="1.7.5">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission  android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.zkjinshi.svip" />

    <application
        android:name=".SVIPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.App.Translucent.NoTitleBar" >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d06f35454ae1e8fe52ccefa4155167ed" />

        <uses-library android:name="android.test.runner"/>

        <!-- 通用模块 -->
        <activity
            android:name=".activity.common.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.order.HotelConfirmActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.order.KTVConfirmActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.order.NormalConfirmActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.order.HotelBookingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.order.KTVBookingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.order.NormalBookingActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.common.MainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".activity.common.HomeGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".activity.common.ShopGuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".activity.shop.ShopDetailActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

        </activity>

        <activity
            android:name=".activity.common.GuideActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.common.UseDealActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.common.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter android:label="(金石推荐)" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.OauthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.zkjinshi.base.config.ConfigActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.CutActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <!-- 设置模块 -->
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.mine.SetActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingItemActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingPhoneActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingTagsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.CityActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingTicketsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingTicketsItemActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activity.common.SettingNologinActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>

        <!-- 订单模块 -->
        <activity android:name=".activity.order.OrderEvaluateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity android:name=".activity.order.ConsumeRecordActivtiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity android:name=".activity.order.OrderBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>


        <activity android:name=".activity.order.ChoosePeopleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity android:name=".activity.order.AddRemarkActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity android:name=".activity.order.ChooseInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name=".activity.order.ShopSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"/>

        <activity
            android:name=".activity.order.GoodListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.mine.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name">

        </activity>

        <activity android:name=".activity.mine.PrivilegeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>



        <activity
            android:name=".activity.order.OrderPayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".activity.order.CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/app_name"
            >

        </activity>

        <activity
            android:name=".activity.common.CompleteInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".activity.common.InviteCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".activity.common.AddFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activity.im.single.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity android:name=".activity.preview.ScanImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity android:name=".activity.im.group.ChatGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />

        <activity
            android:name=".test.QuickMenuTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>

        <activity android:name=".activity.common.ServiceCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Ping++ SDK 注册 -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付注册 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝注册 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <meta-data android:name="TESTIN_APPKEY" android:value="ced4cd6e19b606a268819bbaced9c339"/>

        <!--IM消息服务-->
        <service android:name="com.zkjinshi.base.net.core.MessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.zkjinshi.svip.im.Message_SERVICE"/>
            </intent-filter>
        </service>

        <service android:name=".ibeacon.IBeaconService">
            <intent-filter>
                <action android:name="com.zkjinshi.svip.im.Beacon_SERVICE"/>
            </intent-filter>
        </service>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="zkjs#svip" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService"
            android:exported="true"
            />

        <receiver android:name=".receiver.EMessageReceiver">
            <intent-filter>
                <action android:name="com.zkjinshi.svip.ACTION_ORDER"/>
                <action android:name="com.zkjinshi.svip.CONNECTION_CONFLICT"/>
            </intent-filter>
        </receiver>

        <!-- 语音通话 -->
        <activity
            android:name=".activity.im.single.VoiceCallActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/android:Theme.NoTitleBar" >
        </activity>
        <!-- 视频通话 -->
        <activity
            android:name=".activity.im.single.VideoCallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity android:name=".activity.common.ContactActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity android:name=".activity.city.citylist.CityListActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".activity.city.citylist.SearchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activity.order.ShopCityActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".activity.common.CommentListActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".update.NotificationUpdateActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>
        <service android:name=".update.DownloadService"></service>

        <!--云巴推送-->

        <service
            android:name="io.yunba.android.core.YunBaService" android:exported="true"/>

        <receiver android:name="io.yunba.android.core.YunBaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data android:name="YUNBA_APPKEY" android:value="566563014407a3cd028aa72f" />

    </application>

</manifest>
